.ms-input {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.input-search {
    min-height: 36px;
    padding: 9px 12px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
}

.input-search__icon{
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    margin-right: 6px;
    margin-top: 6px;
    cursor: pointer;
    background: url('../../assets/sprite_cegov.svg') no-repeat -289px -24px;
}