.m-input{
    font-size: 14px;
    min-height: 36px;
    color: inherit;
    position: relative;
    padding: 0 10px;
    border-radius: 2px;
    border: 1px solid #babec5;
    box-sizing: border-box;
    width: 100%;
    padding: 9px 12px;
    outline: none;
    font-family: GoogleSans;
}

/* .m-input:hover{
    outline: 1px solid #1a73e8;
} */

.m-input:focus-within{
    outline: 1px solid #1a73e8;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    accent-color: #2979ff;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.m-input-date::placeholder{
    font-style: italic;
    font-size: 12px;
}

.m-input__error{
    border: 1px solid red !important;
}

.m-input__error:focus{
    border: 1px solid red !important;
}

