table{
    min-width: 100%;
    width: 100%;
    border-spacing: 0;
}

th, td{
    border-bottom: 1px solid #e0e1ef;
    border-right: 1px solid #e0e1ef;
    background: #fff;
    height: 48px;
    cursor: pointer;
    padding: 0 16px;
    text-align: left;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th{
    position: sticky;
    top: 0;
    z-index: 6;
}

tr{
    position: relative;
}

tr:hover > .option{
    display: block;
}

tr:focus{
    background: #000;
}

td{
    height: 40px;
    z-index: -1;
}

.checkbox{
    position: sticky;
    left: 0px;
    z-index: 4;
    background: #fff;
    padding: 0;
}

.checkbox input{
    min-width: 32px;
}

.checkboxAll{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.ip-checkbox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#emulation-table tr:hover td{
    background: #fbe9e7 ;
}

.selector-tr{
    background: #e0ebff;
}

tr:nth-last-child(-n + 3) .option-menu{
    top: -115px;
}

tr:nth-child(-n + 3) .option-menu{
    top: 40px;
}

.option{
    position: absolute;
    height: 40px;
    background: #fbe9e7;
    white-space: nowrap;
    padding-right: 10px;
    display: flex;
    z-index: 5;
    display:none;
}

.option-edit{
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 4px;
}

.option-delete{
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 4px;
}