@import url(./element/button.css);
@import url(./element/icon.css);
@import url(./element/table.css);
@import url(./element/input.css);
@import url(./element/input-icon.css);

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: initial;
    overflow: hidden;
    font-size: 14px;
    font-family: GoogleSans;
    font-weight: 500;
    background: #f4f5f8;
    max-width: 100%;
    position: relative;
}

a{
    color: inherit;
    text-decoration: none;
}

.m-label{
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    margin-bottom: 8px;
    padding: 0;
    width: auto;
}

input::placeholder{
    opacity: 0.6;
    font-family: GoogleSans;
    font-size: 14px;
}

textarea::placeholder{
    opacity: 0.6;
    font-family: GoogleSans;
    font-size: 14px;
}

input[type='radio'] {
    accent-color: #2979ff;
}

strong{
    font-weight: 700;
    padding: 0 6px;
}

.asterik{
    color: #e54848;
}

.flex {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center{
    text-align: center;
}

#over {
    /* display: none; */
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 999;
    transition: all 0.3s;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    background: url(../loading.svg) no-repeat;
    width: 32px;
    height: 32px;

    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@font-face {
    font-family: GoogleSans;
    src: url("../fonts/GoogleSans-Regular.otf");
}

@font-face {
    font-family: GoogleSans Italic;
    src: url("../fonts/GoogleSans-Italic.otf");
}

@font-face {
    font-family: GoogleSans Bold;
    src: url("../fonts/GoogleSans-Bold.otf");
}